/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree 
 *= require_self
*/

.left__bar {
	background-color : #dddddd;
	padding-top		: 80px;
	height			: 100%;
}

.left__bar--header {
	font-weight		: bold;
	padding-top		: 20px;
}

.left__bar--trade_tr {
	td {
		padding-right : 10px;
	}

}
.left__bar--scrollable {
	height		: 400px;
	overflow-x	:hidden;
	overflow-y	:scroll;
}

.right__bar--item {
	width	: 100px;
}

.result--item {
	padding :	5px;
}

.result {
	font-size : 14;
	font-weight : bold;
}