/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree 
 *= require_self
*/

.chart {
	background-color : #ffffff;
	padding-top : 30px;
	border : solid 15px #ffffff;
	height : 290px;
  	div {
  		font: 10px sans-serif;
  		background-color: steelblue;
  		text-align: right;
 	 	padding: 3px;
  		margin: 1px;
	  	color: white;
  	}
}

.headBar {
	width : 100%;
	height	: 60px;
	background-color: steelblue;
}
.navbar-text {
	color : #ffffff;
}
.navbar-link {
	color : #B9DDF6;
}

.trades--scrollable {
	height		: 300px;
	overflow-x	:hidden;
	overflow-y	:scroll;
}

.trades--header {
	width : 100%;
	background-color : steelblue;
	color : #ffffff;
	padding-left : 10px;
	padding-top : 5px;
	vertical-align : center;
	height : 30px;
	font-weight : bold;
}