// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left__bar--currency {
	padding-right	:	10px;
	font-weight		:	bold;
}

.left__bar--balance {
	padding-left	:	10px;
}